body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    color: #333;
}
.navbar {
    background-color: #333;
    padding-left: 30.5%;
    display: flex;
    align-items: center;
    color: #fff;
    flex-wrap: wrap;
}
.navbar a {
    color: #fff;
    text-decoration: none;
    margin-left: 60px;
}
.container {
    display: flex;
    margin: 20px;
    gap: 20px;
    align-items: start;
    margin-left: 30%;
}
.content {
    width: 55%;
    padding: 20px;
    align-items: center;
}
.sidebar {
    width: 18%;
    padding: 20px;
    margin-top: 3%;
    margin-left: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebar img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}
.sidebar h2 {
    margin: 10px 0;
    font-size: 1.5em;
}
.sidebar p {
    margin: 5px 0;
}
.sidebar .icons a {
    margin: 5px;
    text-decoration: none;
    color: #333;
}
.intro h1{
    margin-top: 0;
}
.intro p, .projects ul {
    line-height: 1.6;
}
.projects ul {
    list-style: none;
    padding: 0;
}
.projects li {
    margin-bottom: 10px;
}
.icon_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    font-size: 1.2em;
    margin-top: 20px;
}
.icon_container a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}
.icon_container i {
    margin-right: 8px;
    color: #0077b5;
}
.icon_container a:hover i {
    color: #005582;
}
.icon_container a:hover {
    text-decoration: underline;
}
.project {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.News h2{
    margin-top: 5%;
}
.projects h2{
    margin-top: 8%;
    margin-bottom: 0;
}
.project img, .project video {
    width: 150px;
    margin-right: 20px;
    border-radius: 8px;
    background-color: #fafafa;
    object-fit: cover;
}
.project-description {
    flex: 1;
}
.project-link {
    text-align: right;
}
.project-link a {
    text-decoration: none;
    color: #0077b5;
}
.project-link a:hover {
    text-decoration: underline;
}

.author {
    font-style: italic;
    color: #555;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .navbar {
        margin-left: 0;
        flex-direction: column;
        align-items: center; /* Center align items */
        padding: 10px; /* Add padding for better spacing */
    }

    .navbar div {
        margin-bottom: 10px;
        width: 100%; /* Make div take full width */
        text-align: center; /* Center text */
    }

    .container {
        flex-direction: column;
        margin: 10px;
    }

    .content, .sidebar {
        width: 100%;
        padding: 10px;
    }

    .project {
        flex-direction: column;
        align-items: flex-start;
    }

    .project img, .project video {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .project-link {
        text-align: left;
        width: 100%;
    }
}